python-dotenv
langchain
langchain_community
langchain_groq
langchain_mistralai
langchain_ollama
langchain_core
langchain_huggingface
huggingface-hub
yt-dlp>=2026.01.01
pydub
ffmpeg-python
groq
deep-translator
chromadb
sentence-transformers
tiktoken
streamlit
streamlit-extras
watchdog
reportlab
fpdf2
numpy
tqdm
requests
torch
torchvision